<h3>GetAllCategories</h3>
    @foreach(var category in ViewModel.Categories)
    {
        <p>@category.Name</p>
        <br/>
        <p>@category.Description</p>
        <p><RadzenButton Text="Hola"></RadzenButton></p>
        <br/>
    }
